# code enviroments
.vscode
.vs
*.ini
*.vcxproj
*.vcxproj.filters
*.sdn
*.sln
*.pro
*.sdf
*.pro.user
*dir

# multimedia
*.avi
*.mp4
*.mp3

# database model
*.caffemodel

# Cpp


# Individuals

# Builds and compilers
build/
C-Make/
CMakeFiles/
Win32/
Debug/
*.cmake
*.o
CMakeCache.*